<a href="https://colab.research.google.com/github/vinay2k2/HealthcareBasicsAndImageProcessing/blob/main/PandasTemplate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import __hello__

Hello world!

In [2]:
# Pandas- Reading dataset of Various forms into Dataframes
import pandas as pd

# Numerical Python- Mathematical Array operations
import numpy as np

In [4]:
#Know where these packages are located
print(pd)
print(np)

<module 'pandas' from '/usr/local/lib/python3.7/dist-packages/pandas/__init__.py'>
<module 'numpy' from '/usr/local/lib/python3.7/dist-packages/numpy/__init__.py'>

# Pandas Series
##### Create Series type of data using various Data Structure COllection- Array, List Dictionary

In [6]:
#Lets Create a series
data = pd.Series([10,20,30,40,50,60])
print(data)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [7]:
# Lets see the index
data.index

RangeIndex(start=0, stop=6, step=1)

In [11]:
#Lets iterate
for index in data.index:
  print(index)

0
1
2
3
4
5

In [8]:
#Lets see the values
data.values

array([10, 20, 30, 40, 50, 60])

In [12]:
#Lets Iterate
for value in data.values:
  print(value)

10
20
30
40
50
60

In [10]:
#A better way to iterate using enumerate
for index, value in enumerate(data):
  print(index,":",value)

0 : 10
1 : 20
2 : 30
3 : 40
4 : 50
5 : 60

In [14]:
# Lets create a collctiono of series
data_series = {
    'Column1': pd.Series([10, 20, 30, 40, 50, 60]),
    'Column2':pd.Series([100, 200, 300, 400, 500, 600])
}
print(data_series) # this is done however not a very good representation of data

{'Column1': 0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64, 'Column2': 0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64}

In [19]:
# As a thumb rule where there is 1-D data use Series else convert if to DataFrame
pd.DataFrame(data_series)

   Column1  Column2
0       10      100
1       20      200
2       30      300
3       40      400
4       50      500
5       60      600

# Pandas Data Frame >=2D use DataFrame

In [26]:
#Read Data
movies_df = pd.read_csv("https://raw.githubusercontent.com/vinay2k2/HealthcareBasicsAndImageProcessing/main/movies.csv")

#Essential Dataframe Utilities

In [27]:
#Display Head By default it shows 5 rows
movies_df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [28]:
#Display Head Top 7
movies_df.head(7)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008

In [29]:
# Display Tail Default Count=2
movies_df.tail()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [30]:
#Display Both Head and Tail: Alternate: just use movies_df name
display(movies_df)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [32]:
#In Jupyter we can always say just DataFrame name to display
movies_df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [31]:
# Does not display it well
print(movies_df)

                                  Film    Genre            Lead Studio  \
0           Zack and Miri Make a Porno  Romance  The Weinstein Company
1                      Youth in Revolt   Comedy  The Weinstein Company
2   You Will Meet a Tall Dark Stranger   Comedy            Independent
3                         When in Rome   Comedy                 Disney
4                What Happens in Vegas   Comedy                    Fox
..                                 ...      ...                    ...
72                 Across the Universe  romance            Independent
73                       A Serious Man    Drama              Universal
74                  A Dangerous Method    Drama            Independent
75                          27 Dresses   Comedy                    Fox
76                (500) Days of Summer   comedy                    Fox

    Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross  Year
0                 70       1.747542                 64         $41.94   2008
1                 52       1.090000                 68         $19.62   2010
2                 35       1.211818                 43         $26.66   2010
3                 44       0.000000                 15         $43.04   2010
4                 72       6.267647                 28        $219.37   2008
..               ...            ...                ...             ...   ...
72                84       0.652603                 54         $29.37   2007
73                64       4.382857                 89         $30.68   2009
74                89       0.448645                 79          $8.97   2011
75                71       5.343622                 40        $160.31   2008
76                81       8.096000                 87         $60.72   2009

[77 rows x 8 columns]

In [ ]:
#



# Stock data Analysis

In [34]:
#Read data
stock_data = pd.read_excel("https://github.com/vinay2k2/HealthcareBasicsAndImageProcessing/blob/main/data_akbilgic.xlsx?raw=true")
stock_data #observe the Header By default its False

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,TL BASED,USD BASED,imkb_x,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,date,ISE,ISE,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
1,2009-01-05 00:00:00,0.035754,0.038376,-0.004679,0.002193,0.003894,0,0.03119,0.012698,0.028524
2,2009-01-06 00:00:00,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.01892,0.011341,0.008773
3,2009-01-07 00:00:00,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
4,2009-01-08 00:00:00,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
...,...,...,...,...,...,...,...,...,...,...
532,2011-02-16 00:00:00,0.008599,0.0134,0.006238,0.001925,0.007952,0.005717,0.018371,0.006975,0.003039
533,2011-02-17 00:00:00,0.00931,0.015977,0.003071,-0.001186,0.000345,0.00262,0.001686,-0.000581,0.001039
534,2011-02-18 00:00:00,0.000191,-0.001653,0.001923,0.002872,-0.000723,0.000568,0.005628,0.000572,0.006938
535,2011-02-21 00:00:00,-0.013069,-0.013706,-0.020742,-0.014239,-0.011275,0.001358,-0.011942,-0.012615,-0.000958
536,2011-02-22 00:00:00,-0.007246,-0.019442,0,-0.000473,-0.002997,-0.01792,-0.012252,-0.005465,-0.014297

In [35]:
#Above observe the Header By default its False so we would need to specify it to be True
#Read data
stock_data = pd.read_excel("https://github.com/vinay2k2/HealthcareBasicsAndImageProcessing/blob/main/data_akbilgic.xlsx?raw=true", header=1)
stock_data

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802
...,...,...,...,...,...,...,...,...,...,...
531,2011-02-16,0.008599,0.013400,0.006238,0.001925,0.007952,0.005717,0.018371,0.006975,0.003039
532,2011-02-17,0.009310,0.015977,0.003071,-0.001186,0.000345,0.002620,0.001686,-0.000581,0.001039
533,2011-02-18,0.000191,-0.001653,0.001923,0.002872,-0.000723,0.000568,0.005628,0.000572,0.006938
534,2011-02-21,-0.013069,-0.013706,-0.020742,-0.014239,-0.011275,0.001358,-0.011942,-0.012615,-0.000958
535,2011-02-22,-0.007246,-0.019442,0.000000,-0.000473,-0.002997,-0.017920,-0.012252,-0.005465,-0.014297