<a href="https://colab.research.google.com/github/vinay2k2/HealthcareBasicsAndImageProcessing/blob/main/PandasTemplate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import __hello__

Hello world!

In [2]:
# Pandas- Reading dataset of Various forms into Dataframes
import pandas as pd

# Numerical Python- Mathematical Array operations
import numpy as np

In [3]:
#Know where these packages are located
print(pd)
print(np)

<module 'pandas' from '/usr/local/lib/python3.7/dist-packages/pandas/__init__.py'>
<module 'numpy' from '/usr/local/lib/python3.7/dist-packages/numpy/__init__.py'>

# Pandas Series
##### Create Series type of data using various Data Structure COllection- Array, List Dictionary

In [4]:
#Lets Create a series
data = pd.Series([10,20,30,40,50,60])
print(data)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [5]:
# Lets see the index
data.index

RangeIndex(start=0, stop=6, step=1)

In [6]:
#Lets iterate
for index in data.index:
  print(index)

0
1
2
3
4
5

In [7]:
#Lets see the values
data.values

array([10, 20, 30, 40, 50, 60])

In [8]:
#Lets Iterate
for value in data.values:
  print(value)

10
20
30
40
50
60

In [9]:
#A better way to iterate using enumerate
for index, value in enumerate(data):
  print(index,":",value)

0 : 10
1 : 20
2 : 30
3 : 40
4 : 50
5 : 60

In [10]:
# Lets create a collctiono of series
data_series = {
    'Column1': pd.Series([10, 20, 30, 40, 50, 60]),
    'Column2':pd.Series([100, 200, 300, 400, 500, 600])
}
print(data_series) # this is done however not a very good representation of data

{'Column1': 0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64, 'Column2': 0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64}

In [11]:
# As a thumb rule where there is 1-D data use Series else convert if to DataFrame
pd.DataFrame(data_series)

   Column1  Column2
0       10      100
1       20      200
2       30      300
3       40      400
4       50      500
5       60      600

# Pandas Data Frame >=2D use DataFrame

In [12]:
#Read Data
movies_df = pd.read_csv("https://raw.githubusercontent.com/vinay2k2/HealthcareBasicsAndImageProcessing/main/movies.csv")

#Essential Dataframe Utilities

In [13]:
#Display Head By default it shows 5 rows
movies_df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [14]:
#Display Head Top 7
movies_df.head(7)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008

In [15]:
# Display Tail Default Count=2
movies_df.tail()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [16]:
#Display Both Head and Tail: Alternate: just use movies_df name
display(movies_df)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [17]:
#In Jupyter we can always say just DataFrame name to display
movies_df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [18]:
# Does not display it well
print(movies_df)

                                  Film    Genre            Lead Studio  \
0           Zack and Miri Make a Porno  Romance  The Weinstein Company
1                      Youth in Revolt   Comedy  The Weinstein Company
2   You Will Meet a Tall Dark Stranger   Comedy            Independent
3                         When in Rome   Comedy                 Disney
4                What Happens in Vegas   Comedy                    Fox
..                                 ...      ...                    ...
72                 Across the Universe  romance            Independent
73                       A Serious Man    Drama              Universal
74                  A Dangerous Method    Drama            Independent
75                          27 Dresses   Comedy                    Fox
76                (500) Days of Summer   comedy                    Fox

    Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross  Year
0                 70       1.747542                 64         $41.94   2008
1                 52       1.090000                 68         $19.62   2010
2                 35       1.211818                 43         $26.66   2010
3                 44       0.000000                 15         $43.04   2010
4                 72       6.267647                 28        $219.37   2008
..               ...            ...                ...             ...   ...
72                84       0.652603                 54         $29.37   2007
73                64       4.382857                 89         $30.68   2009
74                89       0.448645                 79          $8.97   2011
75                71       5.343622                 40        $160.31   2008
76                81       8.096000                 87         $60.72   2009

[77 rows x 8 columns]

In [19]:
# Describe for Statistics on Dataframe values
movies_df.describe()

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

In [20]:
# How to know Memory taken by Data Frame and to check Null Values, Observe: memory usage
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

In [21]:
# This is another way to check Null Values in each columns
movies_df.isnull().sum()

Film                 0
Genre                0
Lead Studio          0
Audience score %     0
Profitability        0
Rotten Tomatoes %    0
Worldwide Gross      0
Year                 0
dtype: int64

In [22]:
# Know the columns
movies_df.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [23]:
# Numbner of Columns
len(movies_df.columns)

8

# Sorting and Unique Values
# Default is Ascending Order

In [24]:
#Select a Column # Head and Tail of that column
movies_df['Profitability'] # or movies_df.Profitability
#movies_df['Profitability'] format is good when the header has space in it
#movies_df.Profitability is good for generating Autosuggestions

0     1.747542
1     1.090000
2     1.211818
3     0.000000
4     6.267647
        ...
72    0.652603
73    4.382857
74    0.448645
75    5.343622
76    8.096000
Name: Profitability, Length: 77, dtype: float64

In [25]:
# Autosuggestion are available in below format after movies_df.Profitability. however in this format movies_df['Profitability']. Autosuggestion seems to not trigger
# Lets explore what is possible for a single column
movies_df.Profitability.isnull()

0     False
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Name: Profitability, Length: 77, dtype: bool

In [26]:
movies_df.sort_values(by = 'Audience score %', ascending=False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
39,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,$8.26,2011
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
...,...,...,...,...,...,...,...,...
55,Killers,Action,Lionsgate,45,1.245333,11,$93.40,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
48,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010

In [27]:
# Drop Duplicates
#Lets Know Duplicates
movies_df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Length: 77, dtype: bool

In [28]:
movies_df.duplicated().sum()

2

In [29]:
#Lets know the positions
movies_df[movies_df.duplicated()]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011

In [30]:
#Okay so these are duplicate rows so they are to be found
movies_df[movies_df.Film == 'Mamma Mia!']

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008

In [31]:
#Okay so these are duplicate rows so they are to be found
movies_df[movies_df.Film == 'Gnomeo and Juliet']

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011

In [32]:
# see the context
movies_df[42:67]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
42,Miss Pettigrew Lives for a Day,Comedy,Independent,70,0.252895,78,$15.17,2008
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
47,Made of Honor,Comdy,Sony,61,2.649068,13,$105.96,2008
48,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009
49,Love & Other Drugs,Comedy,Fox,55,1.817667,48,$54.53,2010
50,Life as We Know It,Comedy,Independent,62,2.530526,28,$96.16,2010
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
52,Letters to Juliet,Comedy,Summit,62,2.639333,40,$79.18,2010
53,Leap Year,Comedy,Universal,49,1.715263,21,$32.59,2010
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
55,Killers,Action,Lionsgate,45,1.245333,11,$93.40,2010
56,Just Wright,Comedy,Fox,58,1.797417,45,$21.57,2010
57,Jane Eyre,Romance,Universal,77,0.000000,85,$30.15,2011
58,It's Complicated,Comedy,Universal,63,2.642353,56,$224.60,2009
59,I Love You Phillip Morris,Comedy,Independent,57,1.340000,71,$20.10,2010
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
61,He's Just Not That Into You,Comedy,Warner Bros.,60,7.153600,42,$178.84,2009
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
63,Going the Distance,Comedy,Warner Bros.,56,1.314062,53,$42.05,2010
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
66,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47,2.044400,27,$102.22,2009

In [33]:
movies_df.drop_duplicates(inplace= True)

In [34]:
#Lets check if they are gone
movies_df[42:67]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
42,Miss Pettigrew Lives for a Day,Comedy,Independent,70,0.252895,78,$15.17,2008
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
47,Made of Honor,Comdy,Sony,61,2.649068,13,$105.96,2008
48,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009
49,Love & Other Drugs,Comedy,Fox,55,1.817667,48,$54.53,2010
50,Life as We Know It,Comedy,Independent,62,2.530526,28,$96.16,2010
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
52,Letters to Juliet,Comedy,Summit,62,2.639333,40,$79.18,2010
53,Leap Year,Comedy,Universal,49,1.715263,21,$32.59,2010
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
55,Killers,Action,Lionsgate,45,1.245333,11,$93.40,2010
56,Just Wright,Comedy,Fox,58,1.797417,45,$21.57,2010
57,Jane Eyre,Romance,Universal,77,0.000000,85,$30.15,2011
58,It's Complicated,Comedy,Universal,63,2.642353,56,$224.60,2009
59,I Love You Phillip Morris,Comedy,Independent,57,1.340000,71,$20.10,2010
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
61,He's Just Not That Into You,Comedy,Warner Bros.,60,7.153600,42,$178.84,2009
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
63,Going the Distance,Comedy,Warner Bros.,56,1.314062,53,$42.05,2010
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
66,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47,2.044400,27,$102.22,2009
67,Four Christmases,Comedy,Warner Bros.,52,2.022925,26,$161.83,2008
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008

In [35]:
# Axis 0 for Rowwise
movies_df.drop([0,1,3,4,7,8,9],axis=0)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,$55.86,2007
11,Twilight: Breaking Dawn,Romance,Independent,68,6.383364,26,$702.17,2011
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [36]:
#Axis 1 for Columns wise
movies_df.drop(['Lead Studio','Genre'],axis = 1, inplace=True)

In [37]:
#Lets check if they are gone
movies_df[42:67]

,Film,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
42,Miss Pettigrew Lives for a Day,70,0.252895,78,$15.17,2008
43,Midnight in Paris,84,8.744706,93,$148.66,2011
44,Marley and Me,77,3.746782,63,$206.07,2008
45,Mamma Mia!,76,9.234454,53,$609.47,2008
47,Made of Honor,61,2.649068,13,$105.96,2008
48,Love Happens,40,2.004444,18,$36.08,2009
49,Love & Other Drugs,55,1.817667,48,$54.53,2010
50,Life as We Know It,62,2.530526,28,$96.16,2010
51,License to Wed,55,1.980206,8,$69.31,2007
52,Letters to Juliet,62,2.639333,40,$79.18,2010
53,Leap Year,49,1.715263,21,$32.59,2010
54,Knocked Up,83,6.636402,91,$219,2007
55,Killers,45,1.245333,11,$93.40,2010
56,Just Wright,58,1.797417,45,$21.57,2010
57,Jane Eyre,77,0.000000,85,$30.15,2011
58,It's Complicated,63,2.642353,56,$224.60,2009
59,I Love You Phillip Morris,57,1.340000,71,$20.10,2010
60,High School Musical 3: Senior Year,76,22.913136,65,$252.04,2008
61,He's Just Not That Into You,60,7.153600,42,$178.84,2009
62,Good Luck Chuck,61,2.367685,3,$59.19,2007
63,Going the Distance,56,1.314062,53,$42.05,2010
64,Gnomeo and Juliet,52,5.387972,56,$193.97,2011
66,Ghosts of Girlfriends Past,47,2.044400,27,$102.22,2009
67,Four Christmases,52,2.022925,26,$161.83,2008
68,Fireproof,51,66.934000,40,$33.47,2008

# Filter Using AND and OR

In [41]:
### Filter using AND and OR
#This return a bollean where condition becomes True of False
movies_df['Year']==2009

0     False
1     False
2     False
3     False
4     False
      ...
72    False
73     True
74    False
75    False
76     True
Name: Year, Length: 75, dtype: bool

In [42]:
# We can use above condition to get rows where the above condition is true
movies_df[movies_df['Year']==2009]

,Film,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
13,The Ugly Truth,68,5.402632,14,$205.30,2009
14,The Twilight Saga: New Moon,78,14.196400,27,$709.82,2009
15,The Time Traveler's Wife,65,2.598205,38,$101.33,2009
16,The Proposal,74,7.867500,43,$314.70,2009
17,The Invention of Lying,47,1.751351,56,$32.40,2009
35,Not Easily Broken,66,2.140000,34,$10.70,2009
48,Love Happens,40,2.004444,18,$36.08,2009
58,It's Complicated,63,2.642353,56,$224.60,2009
61,He's Just Not That Into You,60,7.153600,42,$178.84,2009
66,Ghosts of Girlfriends Past,47,2.044400,27,$102.22,2009
73,A Serious Man,64,4.382857,89,$30.68,2009
76,(500) Days of Summer,81,8.096000,87,$60.72,2009

In [53]:
# We can and multiple conditions
movies_df[(movies_df['Year']==2009) & (movies_df['Rotten Tomatoes %']>30)]

,Film,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
15,The Time Traveler's Wife,65,2.598205,38,$101.33,2009
16,The Proposal,74,7.867500,43,$314.70,2009
17,The Invention of Lying,47,1.751351,56,$32.40,2009
35,Not Easily Broken,66,2.140000,34,$10.70,2009
58,It's Complicated,63,2.642353,56,$224.60,2009
61,He's Just Not That Into You,60,7.153600,42,$178.84,2009
73,A Serious Man,64,4.382857,89,$30.68,2009
76,(500) Days of Summer,81,8.096000,87,$60.72,2009

In [51]:
# We can put them as OR also
movies_df[(movies_df['Year']==2009) | (movies_df['Rotten Tomatoes %']>30)]

,Film,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,70,1.747542,64,$41.94,2008
1,Youth in Revolt,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,35,1.211818,43,$26.66,2010
5,Water For Elephants,72,3.081421,60,$117.09,2011
6,WALL-E,89,2.896019,96,$521.28,2008
7,Waitress,67,11.089742,89,$22.18,2007
10,Tyler Perry's Why Did I get Married,47,3.724192,46,$55.86,2007
12,Twilight,82,10.180027,49,$376.66,2008
13,The Ugly Truth,68,5.402632,14,$205.30,2009
14,The Twilight Saga: New Moon,78,14.196400,27,$709.82,2009
15,The Time Traveler's Wife,65,2.598205,38,$101.33,2009
16,The Proposal,74,7.867500,43,$314.70,2009
17,The Invention of Lying,47,1.751351,56,$32.40,2009
19,The Duchess,68,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,81,1.783944,73,$285.43,2008
22,Tangled,88,1.365692,89,$355.01,2010
24,She's Out of My League,60,2.440500,57,$48.81,2010
27,Sex and the City,81,7.221796,49,$415.25,2008
29,Rachel Getting Married,61,1.384167,85,$16.61,2008
30,Penelope,74,1.382800,52,$20.74,2008
34,One Day,54,3.682733,37,$55.24,2011
35,Not Easily Broken,66,2.140000,34,$10.70,2009
36,No Reservations,64,3.307180,39,$92.60,2007
37,Nick and Norah's Infinite Playlist,67,3.352729,73,$33.53,2008
39,My Week with Marilyn,84,0.825800,83,$8.26,2011
40,Music and Lyrics,70,3.647411,63,$145.90,2007
41,Monte Carlo,50,1.983200,38,$39.66,2011
42,Miss Pettigrew Lives for a Day,70,0.252895,78,$15.17,2008
43,Midnight in Paris,84,8.744706,93,$148.66,2011
44,Marley and Me,77,3.746782,63,$206.07,2008
45,Mamma Mia!,76,9.234454,53,$609.47,2008
48,Love Happens,40,2.004444,18,$36.08,2009
49,Love & Other Drugs,55,1.817667,48,$54.53,2010
52,Letters to Juliet,62,2.639333,40,$79.18,2010
54,Knocked Up,83,6.636402,91,$219,2007
56,Just Wright,58,1.797417,45,$21.57,2010
57,Jane Eyre,77,0.000000,85,$30.15,2011
58,It's Complicated,63,2.642353,56,$224.60,2009
59,I Love You Phillip Morris,57,1.340000,71,$20.10,2010
60,High School Musical 3: Senior Year,76,22.913136,65,$252.04,2008
61,He's Just Not That Into You,60,7.153600,42,$178.84,2009
63,Going the Distance,56,1.314062,53,$42.05,2010
64,Gnomeo and Juliet,52,5.387972,56,$193.97,2011
66,Ghosts of Girlfriends Past,47,2.044400,27,$102.22,2009
68,Fireproof,51,66.934000,40,$33.47,2008
69,Enchanted,80,4.005737,93,$340.49,2007
71,Beginners,80,4.471875,84,$14.31,2011
72,Across the Universe,84,0.652603,54,$29.37,2007
73,A Serious Man,64,4.382857,89,$30.68,2009
74,A Dangerous Method,89,0.448645,79,$8.97,2011
75,27 Dresses,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,81,8.096000,87,$60.72,2009

In [54]:
# We can put them as OR also and not
movies_df[(movies_df['Year']!=2009) & (movies_df['Rotten Tomatoes %']>30)]

,Film,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,70,1.747542,64,$41.94,2008
1,Youth in Revolt,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,35,1.211818,43,$26.66,2010
5,Water For Elephants,72,3.081421,60,$117.09,2011
6,WALL-E,89,2.896019,96,$521.28,2008
7,Waitress,67,11.089742,89,$22.18,2007
10,Tyler Perry's Why Did I get Married,47,3.724192,46,$55.86,2007
12,Twilight,82,10.180027,49,$376.66,2008
19,The Duchess,68,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,81,1.783944,73,$285.43,2008
22,Tangled,88,1.365692,89,$355.01,2010
24,She's Out of My League,60,2.440500,57,$48.81,2010
27,Sex and the City,81,7.221796,49,$415.25,2008
29,Rachel Getting Married,61,1.384167,85,$16.61,2008
30,Penelope,74,1.382800,52,$20.74,2008
34,One Day,54,3.682733,37,$55.24,2011
36,No Reservations,64,3.307180,39,$92.60,2007
37,Nick and Norah's Infinite Playlist,67,3.352729,73,$33.53,2008
39,My Week with Marilyn,84,0.825800,83,$8.26,2011
40,Music and Lyrics,70,3.647411,63,$145.90,2007
41,Monte Carlo,50,1.983200,38,$39.66,2011
42,Miss Pettigrew Lives for a Day,70,0.252895,78,$15.17,2008
43,Midnight in Paris,84,8.744706,93,$148.66,2011
44,Marley and Me,77,3.746782,63,$206.07,2008
45,Mamma Mia!,76,9.234454,53,$609.47,2008
49,Love & Other Drugs,55,1.817667,48,$54.53,2010
52,Letters to Juliet,62,2.639333,40,$79.18,2010
54,Knocked Up,83,6.636402,91,$219,2007
56,Just Wright,58,1.797417,45,$21.57,2010
57,Jane Eyre,77,0.000000,85,$30.15,2011
59,I Love You Phillip Morris,57,1.340000,71,$20.10,2010
60,High School Musical 3: Senior Year,76,22.913136,65,$252.04,2008
63,Going the Distance,56,1.314062,53,$42.05,2010
64,Gnomeo and Juliet,52,5.387972,56,$193.97,2011
68,Fireproof,51,66.934000,40,$33.47,2008
69,Enchanted,80,4.005737,93,$340.49,2007
71,Beginners,80,4.471875,84,$14.31,2011
72,Across the Universe,84,0.652603,54,$29.37,2007
74,A Dangerous Method,89,0.448645,79,$8.97,2011
75,27 Dresses,71,5.343622,40,$160.31,2008

# loc and iloc
* Selecting Rows and Columns

In [55]:
# Slicing Rows and Columns
movies_df.loc[:,:] # All rows and all columns

,Film,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,70,1.747542,64,$41.94,2008
1,Youth in Revolt,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,35,1.211818,43,$26.66,2010
3,When in Rome,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...
72,Across the Universe,84,0.652603,54,$29.37,2007
73,A Serious Man,64,4.382857,89,$30.68,2009
74,A Dangerous Method,89,0.448645,79,$8.97,2011
75,27 Dresses,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,81,8.096000,87,$60.72,2009

In [58]:
#  Selected rows and selected columns  This gives a view
movies_df.loc[10:20,['Film','Profitability']]

                                   Film  Profitability
10  Tyler Perry's Why Did I get Married       3.724192
11              Twilight: Breaking Dawn       6.383364
12                             Twilight      10.180027
13                       The Ugly Truth       5.402632
14          The Twilight Saga: New Moon      14.196400
15             The Time Traveler's Wife       2.598205
16                         The Proposal       7.867500
17               The Invention of Lying       1.751351
18                   The Heartbreak Kid       2.129444
19                          The Duchess       3.207850
20  The Curious Case of Benjamin Button       1.783944

In [59]:
#  Selected rows and selected columns  This gives a view and now lets add some conditon on top of above view
movies_df.loc[10:20,['Film','Profitability']][movies_df['Profitability']>10]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                           Film  Profitability
12                     Twilight      10.180027
14  The Twilight Saga: New Moon      14.196400



# Stock data Analysis

In [38]:
#Read data
stock_data = pd.read_excel("https://github.com/vinay2k2/HealthcareBasicsAndImageProcessing/blob/main/data_akbilgic.xlsx?raw=true")
stock_data #observe the Header By default its False

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,TL BASED,USD BASED,imkb_x,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,date,ISE,ISE,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
1,2009-01-05 00:00:00,0.035754,0.038376,-0.004679,0.002193,0.003894,0,0.03119,0.012698,0.028524
2,2009-01-06 00:00:00,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.01892,0.011341,0.008773
3,2009-01-07 00:00:00,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
4,2009-01-08 00:00:00,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
...,...,...,...,...,...,...,...,...,...,...
532,2011-02-16 00:00:00,0.008599,0.0134,0.006238,0.001925,0.007952,0.005717,0.018371,0.006975,0.003039
533,2011-02-17 00:00:00,0.00931,0.015977,0.003071,-0.001186,0.000345,0.00262,0.001686,-0.000581,0.001039
534,2011-02-18 00:00:00,0.000191,-0.001653,0.001923,0.002872,-0.000723,0.000568,0.005628,0.000572,0.006938
535,2011-02-21 00:00:00,-0.013069,-0.013706,-0.020742,-0.014239,-0.011275,0.001358,-0.011942,-0.012615,-0.000958
536,2011-02-22 00:00:00,-0.007246,-0.019442,0,-0.000473,-0.002997,-0.01792,-0.012252,-0.005465,-0.014297

In [39]:
#Above observe the Header By default its False so we would need to specify it to be True
#Read data
stock_data = pd.read_excel("https://github.com/vinay2k2/HealthcareBasicsAndImageProcessing/blob/main/data_akbilgic.xlsx?raw=true", header=1)
stock_data

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802
...,...,...,...,...,...,...,...,...,...,...
531,2011-02-16,0.008599,0.013400,0.006238,0.001925,0.007952,0.005717,0.018371,0.006975,0.003039
532,2011-02-17,0.009310,0.015977,0.003071,-0.001186,0.000345,0.002620,0.001686,-0.000581,0.001039
533,2011-02-18,0.000191,-0.001653,0.001923,0.002872,-0.000723,0.000568,0.005628,0.000572,0.006938
534,2011-02-21,-0.013069,-0.013706,-0.020742,-0.014239,-0.011275,0.001358,-0.011942,-0.012615,-0.000958
535,2011-02-22,-0.007246,-0.019442,0.000000,-0.000473,-0.002997,-0.017920,-0.012252,-0.005465,-0.014297