<a href="https://colab.research.google.com/github/vinay2k2/HealthcareBasicsAndImageProcessing/blob/main/PandasTemplate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import __hello__

Hello world!

In [2]:
# Pandas- Reading dataset of Various forms into Dataframes
import pandas as pd

# Numerical Python- Mathematical Array operations
import numpy as np

In [4]:
#Know where these packages are located
print(pd)
print(np)

<module 'pandas' from '/usr/local/lib/python3.7/dist-packages/pandas/__init__.py'>
<module 'numpy' from '/usr/local/lib/python3.7/dist-packages/numpy/__init__.py'>

# Pandas Series
##### Create Series type of data using various Data Structure COllection- Array, List Dictionary

In [6]:
#Lets Create a series
data = pd.Series([10,20,30,40,50,60])
print(data)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [7]:
# Lets see the index
data.index

RangeIndex(start=0, stop=6, step=1)

In [11]:
#Lets iterate
for index in data.index:
  print(index)

0
1
2
3
4
5

In [8]:
#Lets see the values
data.values

array([10, 20, 30, 40, 50, 60])

In [12]:
#Lets Iterate
for value in data.values:
  print(value)

10
20
30
40
50
60

In [10]:
#A better way to iterate using enumerate
for index, value in enumerate(data):
  print(index,":",value)

0 : 10
1 : 20
2 : 30
3 : 40
4 : 50
5 : 60