<a href="https://colab.research.google.com/github/vinay2k2/HealthcareBasicsAndImageProcessing/blob/main/PandasTemplate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import __hello__

Hello world!

In [2]:
# Pandas- Reading dataset of Various forms into Dataframes
import pandas as pd

# Numerical Python- Mathematical Array operations
import numpy as np

In [4]:
#Know where these packages are located
print(pd)
print(np)

<module 'pandas' from '/usr/local/lib/python3.7/dist-packages/pandas/__init__.py'>
<module 'numpy' from '/usr/local/lib/python3.7/dist-packages/numpy/__init__.py'>

# Pandas Series
##### Create Series type of data using various Data Structure COllection- Array, List Dictionary

In [6]:
#Lets Create a series
data = pd.Series([10,20,30,40,50,60])
print(data)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [7]:
# Lets see the index
data.index

RangeIndex(start=0, stop=6, step=1)

In [11]:
#Lets iterate
for index in data.index:
  print(index)

0
1
2
3
4
5

In [8]:
#Lets see the values
data.values

array([10, 20, 30, 40, 50, 60])

In [12]:
#Lets Iterate
for value in data.values:
  print(value)

10
20
30
40
50
60

In [10]:
#A better way to iterate using enumerate
for index, value in enumerate(data):
  print(index,":",value)

0 : 10
1 : 20
2 : 30
3 : 40
4 : 50
5 : 60

In [14]:
# Lets create a collctiono of series
data_series = {
    'Column1': pd.Series([10, 20, 30, 40, 50, 60]),
    'Column2':pd.Series([100, 200, 300, 400, 500, 600])
}
print(data_series) # this is done however not a very good representation of data

{'Column1': 0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64, 'Column2': 0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64}

In [19]:
# As a thumb rule where there is 1-D data use Series else convert if to DataFrame
pd.DataFrame(data_series)

   Column1  Column2
0       10      100
1       20      200
2       30      300
3       40      400
4       50      500
5       60      600

# Pandas Data Frame >=2D use DataFrame

In [26]:
#Read Data
movies_df = pd.read_csv("https://raw.githubusercontent.com/vinay2k2/HealthcareBasicsAndImageProcessing/main/movies.csv")

#Essential Dataframe Utilities

In [27]:
#Display Head By default it shows 5 rows
movies_df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [28]:
#Display Head Top 7
movies_df.head(7)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008

In [29]:
# Display Tail Default Count=2
movies_df.tail()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [30]:
#Display Both Head and Tail
display(movies_df)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009